* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
#myApp {
  position: relative;
  width: 100%;
  height: 100vh;
}
#myApp h1 {
  font-size: 3rem;
  color: #2f40da;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid #2f40da;
  padding: 2rem;
}
